
#burger {
    color: black;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
  }
  .menu-panel {
    background-color: black;
    color: white;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.5s ease-in-out;
  }
  .menu-panel ul {
    list-style: none;
    padding: 50px 20px;
  }
  .menu-panel ul li {
    margin-bottom: 1rem;
  }
  .menu-panel ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
  .close-btn {
    background-color: transparent;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  @media screen and (max-width: 768px) {
    #burger {
      display: block;
    }
    .navbar {
      display: none;
    }
    .logo-container > h3 {
      display: none;
    }
    .menu-panel.active {
      right: 0;
    }
  }